<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.miao.gitcoin">

    <application
        android:name="me.miao.gitcoin.WalletApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.WalletActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
